<a href="https://colab.research.google.com/github/19PA1A0562/diabeties/blob/main/Diabeties.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import pandas as pd

In [75]:
data = pd.read_csv("TrainingWiDS2021.csv")
data.head()

   Unnamed: 0  encounter_id  ...  solid_tumor_with_metastasis  diabetes_mellitus
0           1        214826  ...                            0                  1
1           2        246060  ...                            0                  1
2           3        276985  ...                            0                  0
3           4        262220  ...                            0                  0
4           5        201746  ...                            0                  0

[5 rows x 181 columns]

In [76]:
data.shape

(130157, 181)

In [77]:
del data['Unnamed: 0']

In [78]:
del data['ethnicity']

In [79]:
del data['hospital_id']

In [80]:
del data['hospital_admit_source']

In [81]:
del data['icu_admit_source']

In [82]:
del data['icu_id']

In [83]:
del data['icu_stay_type']

In [84]:
del data['icu_type']

In [85]:
del data['pre_icu_los_days']

In [86]:
del data['readmission_status']

In [87]:
data.shape

(130157, 171)

In [88]:
data.columns

Index(['encounter_id', 'age', 'bmi', 'elective_surgery', 'gender', 'height',
       'weight', 'albumin_apache', 'apache_2_diagnosis', 'apache_3j_diagnosis',
       ...
       'h1_pao2fio2ratio_max', 'h1_pao2fio2ratio_min', 'aids', 'cirrhosis',
       'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis', 'diabetes_mellitus'],
      dtype='object', length=171)

In [89]:
data.isna().any()

encounter_id                   False
age                             True
bmi                             True
elective_surgery               False
gender                          True
                               ...
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
diabetes_mellitus              False
Length: 171, dtype: bool

In [90]:
data = data.fillna(method='ffill')

In [91]:
data = data.fillna(method="bfill")

In [92]:
data.isna().any()

encounter_id                   False
age                            False
bmi                            False
elective_surgery               False
gender                         False
                               ...
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
diabetes_mellitus              False
Length: 171, dtype: bool

In [93]:
data.describe()

        encounter_id  ...  diabetes_mellitus
count  130157.000000  ...      130157.000000
mean   213000.856519  ...           0.216285
std     38109.828146  ...           0.411712
min    147000.000000  ...           0.000000
25%    180001.000000  ...           0.000000
50%    213014.000000  ...           0.000000
75%    246002.000000  ...           0.000000
max    279000.000000  ...           1.000000

[8 rows x 170 columns]

In [94]:
data.describe(include="all")

         encounter_id  ...  diabetes_mellitus
count   130157.000000  ...      130157.000000
unique            NaN  ...                NaN
top               NaN  ...                NaN
freq              NaN  ...                NaN
mean    213000.856519  ...           0.216285
std      38109.828146  ...           0.411712
min     147000.000000  ...           0.000000
25%     180001.000000  ...           0.000000
50%     213014.000000  ...           0.000000
75%     246002.000000  ...           0.000000
max     279000.000000  ...           1.000000

[11 rows x 171 columns]

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130157 entries, 0 to 130156
Columns: 171 entries, encounter_id to diabetes_mellitus
dtypes: float64(156), int64(14), object(1)
memory usage: 169.8+ MB

In [96]:
data['gender'] = data.gender.map(dict(M=1, F=0))

In [97]:
from sklearn.linear_model import LogisticRegression

In [98]:
x = data.loc[:,"encounter_id":"solid_tumor_with_metastasis"]
y = data['diabetes_mellitus']

In [101]:
model = LogisticRegression(max_iter=2000)
model.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=2000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [168]:
y_train_predict = model.predict(x)

In [169]:
print(pd.DataFrame({"Actual":data["diabetes_mellitus"],"Predicted":y_train_predict}))

        Actual  Predicted
0            1          0
1            1          0
2            0          0
3            0          0
4            0          0
...        ...        ...
130152       0          0
130153       0          0
130154       1          1
130155       0          0
130156       0          0

[130157 rows x 2 columns]

In [170]:
from sklearn.metrics import roc_auc_score

In [171]:
roc_auc_score(y,y_train_predict)

0.5994893892061185

In [145]:
test_data=pd.read_csv("UnlabeledWiDS2021.csv")
test_data.head()

   Unnamed: 0  encounter_id  ...  lymphoma  solid_tumor_with_metastasis
0           1        144740  ...         0                            0
1           2        141990  ...         0                            0
2           3        142038  ...         0                            0
3           4        138628  ...         0                            0
4           5        141682  ...         0                            0

[5 rows x 180 columns]

In [146]:
del test_data['Unnamed: 0']

In [147]:
del test_data['ethnicity']

In [148]:
del test_data['hospital_id']

In [149]:
del test_data['hospital_admit_source']

In [150]:
del test_data['icu_admit_source']

In [151]:
del test_data['icu_id']

In [152]:
del test_data['icu_stay_type']

In [153]:
del test_data['icu_type']

In [154]:
del test_data['pre_icu_los_days']

In [155]:
del test_data['readmission_status']

In [156]:
test_data.isna().any()

encounter_id                   False
age                            False
bmi                             True
elective_surgery               False
gender                          True
                               ...
hepatic_failure                False
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
Length: 170, dtype: bool

In [157]:
test_data['gender'] = test_data.gender.map(dict(M=1, F=0))

In [158]:
test_data =test_data.fillna(method='ffill')

In [159]:
test_data =test_data.fillna(method='bfill')

In [160]:
test_data.isna().any()

encounter_id                   False
age                            False
bmi                            False
elective_surgery               False
gender                         False
                               ...
hepatic_failure                False
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
Length: 170, dtype: bool

In [162]:
y_predict = model.predict(test_data)
print(y_predict)

[0 0 0 ... 0 0 0]

In [173]:
output = pd.DataFrame({'encounter_id':test_data['encounter_id'],'diabetes_milletus':y_predict})
output

       encounter_id  diabetes_milletus
0            144740                  0
1            141990                  0
2            142038                  0
3            138628                  0
4            141682                  0
...             ...                ...
10229        143750                  0
10230        143813                  0
10231        137126                  0
10232        135652                  0
10233        136852                  0

[10234 rows x 2 columns]